{% extends 'base.html' %}
{% load staticfiles %}

{% block css %}
        <link type="text/css" rel="stylesheet" href="{% static 'css/index/index.css' %}" />
{% endblock %}

{% block body %}
        <section>
            <script type="text/javascript">
            $(window).bind("load", function() {
                 $('#movie').load('index.html');
            });
            </script>
            <a class="link" href="{% url 'register' %}">
                <video  preload autoplay muted><source src="{% static 'alltut-smoke.mp4' %}" type="video/mp4"></video>
                <h1>
                    <span>A</span>
                    <span>R</span>
                    <span>C</span>
                    <span>A</span>
                    <span>N</span>
                    <span>U</span>
                    <span>M</span>
                </h1>

                <img alt = "image" src="{% static 'solve_final.png' %}" width="700px" height="750px" />
            </a>
        </section>
{% endblock %}
