{% extends 'base.html' %}
{% load staticfiles %}
{% load crispy_forms_tags %}
{% block css %}
    <link type="text/css" rel="stylesheet" href="{% static 'css/index/register.css' %}" />
{% endblock %}

{% block body%}
    <div>
        <div class="wrapper fadeInDown">
            <div id="formContent">
                <div class="fadeIn first">
                    <h4>ARCANUM</h4>
                </div>
                <form  method="POST">
                   {% csrf_token %}
                    <fieldset>
                       {{ form|crispy }}
                    </fieldset>
                    <input type="submit" class="fadeIn sixth" value="Login"><br>
                </form>
                <small>
                    Need an account? <a href="{% url 'register' %}">Sign Up</a><br><br>
                </small>
            </div>
        </div>
    </div>

    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
{% endblock %}
